html, body{
  background-color: #21232A;
  box-sizing: border-box;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

button{
  width: 100px;
  padding: 10px;
  font-size: 1.3rem;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #333;
}
a{
  color: rgb(72, 72, 252);
  text-decoration: none;
  display: block;
  margin: 40px;
}